.navBar {
    font-family: 'Montserrat', sans-serif;
    color: #E9DAC1;
    text-decoration: none;
    padding: 10px;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 25% 75%;
  }
  
  .ribbit {
    grid-column: 2;
    grid-row: 2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  .navLinks {
    grid-column: 2;
    grid-row: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
  }
  
  .link {
    font-family: 'Montserrat', sans-serif;
    color: #E9DAC1;
    text-decoration: none;
    font-weight: bold;
    padding: 5px;
  }
  
  .link:hover {
    color: #D9534F;
  }
  
  #frog-icon {
    grid-row-start: 5;
  }

  .navUser {
    grid-column: 3;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin-top: 40px;
    }