.App {
  text-align: center;
  background-color: #191919;
}

a {
  text-decoration: none;
}
.navBar {
  font-family: 'Montserrat', sans-serif;
  color: #E9DAC1;
  text-decoration: none;
  padding: 10px;
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 25% 75%;
}

.ribbit {
  grid-column: 2;
  grid-row: 2;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.navLinks {
  grid-column: 2/ 3;
  grid-row: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  
}

.link {
  font-family: 'Montserrat', sans-serif;
  color: #E9DAC1;
  text-decoration: none;
  font-weight: bold;
}

.link:hover {
  color: #76A944;
}

#frog-icon {
  grid-row-start: 5;
}

p {
  color: #E9DAC1;
  }
  
  .navUser {
  grid-column: 3;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 75px;
  }
  
  ul {
    list-style-type: none;
  }

  .users {
    display: flex;
    flex-direction: row;
  }

  .user {
    background-color: #76A944;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 75% 25%;
  }
      #username {
        grid-column: 2;
        grid-row: 1;
      }

      #name {
        grid-column: 2;
        grid-row: 1;
      }

      #avatarImg {
        height: 50px;
        width: 50px;
        border-radius: 50px;
        grid-row: 1;
      }

      #logInBtn {
        grid-column: 2;
        grid-row: 2;
      }




.articles {
  padding: 20px;
  font-family: 'Montserrat', sans-serif;
  color: #E9DAC1;
  text-decoration: none;
}

.article-text {
  font-family: 'Roboto Slab', serif;
  color: #E9DAC1;
}

.author {
  color: #E9DAC1
}

.comment {
  font-family: 'Montserrat', sans-serif;
  color: #E9DAC1
}
.article-item {
  padding: 15px;
}

legend {
  color: #E9DAC1
}

/* Headers */

h1 {
  font-family: 'Lobster', 'cursive';
  color: #F05454;
  font-size: 4em;
  background-color: #191919;
}

h2 {
  color: #D9534F;
  font-size: 2em;
}

h3 {
  color: #E9DAC1;
  font-size: 1em
}

/* Images */

.frog-img {
  height: 70px;
  width: 70px;
  padding-bottom: 30px;
}

.UserImg {
  height: 40px;
  width: 40px;
  border-radius: 40px;
}

 /* Buttons */

.btn {
  background: #f05454;
  background-image: -webkit-linear-gradient(top, #f05454, #ed4949);
  background-image: -moz-linear-gradient(top, #f05454, #ed4949);
  background-image: -ms-linear-gradient(top, #f05454, #ed4949);
  background-image: -o-linear-gradient(top, #f05454, #ed4949);
  background-image: linear-gradient(to bottom, #f05454, #ed4949);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 15px;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
  border-width: 0px;
}

.btn:hover {
  background: #F05454;
  background-image: -webkit-linear-gradient(top, #F05454, #a31b1b);
  background-image: -moz-linear-gradient(top, #F05454, #a31b1b);
  background-image: -ms-linear-gradient(top, #F05454, #a31b1b);
  background-image: -o-linear-gradient(top, #F05454, #a31b1b);
  background-image: linear-gradient(to bottom, #F05454, #a31b1b);
  text-decoration: none;
}

